<footer class="bg-dark-gray text-white text-center">
    <div class="container">
        <div class="row pt-1">
            <div class="col col-12 col-lg-3 py-4 ">
                <div class="row">
                    <div class="col col-lg-12 text-red momo-trust-display-regular text-start order-lg-2 h2">
                        <div class="row">
                            <div class="d-lg-none">Pup & Brew</div>
                            <div class="col col-lg-12 d-none d-lg-block">Pup</div>
                            <div class="col col-lg-12 d-none d-lg-block">& Brew</div>
                        </div>
                    </div>
                    <div class="col col-lg-12 text-end order-lg-1 text-lg-start">logo</div>
                </div>
            </div>
            <div class="col col-6 col-lg-3 my-4 text-start">
                <div class="nunito-bold text-red mb-2">
                    Contact us
                </div>
                <div class="d-flex gap-2 social-icons">
                    <a href="https://www.facebook.com/infvarna/?locale=bg_BG" class="link-underline-opacity-0 link-underline">
                        <i class="bi bi-facebook fs-3 text-black"></i>
                    </a>
                    <a href="https://www.instagram.com/kat.inf/" class="link-underline-opacity-0 link-underline">
                        <i class="bi bi-instagram fs-3 text-black"></i>
                    </a>
                    <a href="https://www.tiktok.com/@uestudents" class="link-underline-opacity-0 link-underline">
                        <i class="bi bi-tiktok fs-3 text-black"></i>
                    </a>
                </div>
            </div>
            <div class="col col-6 col-lg-3 my-4">
                <div class="nunito-bold text-red text-start mb-2">
                    Quick links
                </div>
                <div class="row">
                    <div class="col col-lg-12 text-start gap-2">
                        <div>
                            <a href="/pages/reserve.html"
                                class="text-black nunito-bold link-underline-opacity-0 link-underline-dark link-underline-opacity-100-hover">Reserve</a>
                        </div>
                        <div>
                            <a href="/pages/menu.html"
                                class="text-black nunito-bold link-underline-opacity-0 link-underline-dark link-underline-opacity-100-hover"">Our
                                    menu</a>
                            </div>
                        </div>
                        <div class=" col col-lg-12 text-start">
                                <div>
                                    <a href="#"
                                        class="text-black nunito-bold link-underline-opacity-0 link-underline-dark link-underline-opacity-100-hover">Contact</a>
                                </div>
                                <div>
                                    <a href="#"
                                        class="text-black nunito-bold link-underline-opacity-0 link-underline-dark link-underline-opacity-100-hover">Profile</a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-lg-3 my-4 ps-0">
                    <div class="container-fluid text-start">
                        <div class="nunito-bold text-red mb-2">
                            Find us here
                        </div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.020427344569!2d27.921020711606396!3d43.20906088092287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4540939dfa6d5%3A0x3d401ef3c09a59bf!2z0JjQutC-0L3QvtC80LjRh9C10YHQutC4INGD0L3QuNCy0LXRgNGB0LjRgtC10YIgLSDQktCw0YDQvdCw!5e0!3m2!1sbg!2sbg!4v1763292270828!5m2!1sbg!2sbg"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
            </div>
        </div>
</footer>