<header class="header border border-dark-gray px-3 py-2 mx-3 rounded-bottom-4 border-top-0 nunito-regular text-end bg-white">
    <nav class="navbar navbar-expand-lg p-0">
        <a class="navbar-brand" href="../index.html" alt="Pup & Brew Homepage" aria-label="Pup & Brew Homepage"><img class="logoSize" src="../assets/imgs/logo.svg"  alt="Logo" width="200" height="50"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-center" id="navbarNavAltMarkup">
            <div class="navbar-nav fs-5">
                <a class="nav-item nav-link" href="../index.html" aria-label="Pup & Brew Homepage">Home</a>
                <a class="nav-item nav-link" href="./menu.html" aria-label="Pup & Brew Menu">Menu</a>
                <a class="nav-item nav-link" href="./register.html" aria-label="Pup & Brew Register">Register</a>
                <a class="nav-item nav-link" href="./login.html" aria-label="Pup & Brew Login">Login</a>
                <a class="nav-item nav-link" href="./profile.html" aria-label="Pup & Brew My Profile">Profile</a>
                <a class="nav-item nav-link" href="./editProfile.html" aria-label="Pup & Brew Edit Profile">Edit Profile</a>
                <span class="navbar-text d-lg-none">
                    <a class="btn btn-red text-white fs-5" href="./reserve.html" aria-label="Pup & Brew Reserve">Reserve</a>
                </span>
            </div>
        </div>
        <span class="navbar-text d-lg-block d-none">
            <a class="btn btn-red text-white fs-5" href="./reserve.html" aria-label="Pup & Brew Reserve">Reserve</a>
        </span>
    </nav>
</header>