.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-style: normal;
}