header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.navbar-toggler {
    border: none;
}
.form-shadow-gray{
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 5%);
}

.reserve-form-shadow-gray{
    box-shadow: 0px 0px 3px 4px rgba(155, 29, 32, 31%);
}

.form-input-size{
    height: 2rem; 
    width: 20rem;
}

.profileBtnWidth{
    width: 11rem;
}

.form-fit-content{
    width: fit-content;
}
